<footer>
  Suicides per population per year between 1960-2020 seem to indicate a strong correlation between national issues and people's mental health. The data used is from <a href="https://data.oecd.org/healthstat/suicide-rates.htm"> OECD.org - Suicide rate</a>
</footer>

</html>
