<%- include ('global/header');  %>
<%- include ('global/navbar');  %>
<body>
    <h1>About page</h1>
    <h1>Suicides Per Population and Probable Cause</h1>
    <h2>About</h2>
    <h3>Vocabulary according to data.oecd.org:</h3>
    <p>Suicide rates are defined as the deaths deliberately initiated and performed by a person in the full knowledge or expectation of its fatal outcome.</p>
    <h3>Lo-Fi wireframe sketches :</h3>
    <img src="SolMacro.jpeg" alt="Solomon's Macro sketch" height=200px>
    <h4>Evaluation of wireframe:</h4>
    <p>Modeling- Reasonably good modeling. All countries were included and there was a descriptive title, although some were distorted out of proportion. </p>
    <p>Visibility- All countries that will be examined are shown and nearly all world countrys are on the map/p>
    <p>Consistency- Uses well known map of the world for easy comprehension.</p>
    <p>Structure- The labels are on top or next to their respective countries which makes good structure.</p>
    <p>Simplicity- Minimal use of words; efficiently conveying the information need.</p>
    <p>Documentation- Small notes to help give the users an understanding of what direction certain aspects will go in.</p>
    <p>Discoverability[signifiers]- Simple and clear, but there is not a drop down menu and text indicating they can click each country for its micro.</p>
    <p>Usability[ease]- Would need the drop down menu for better usage without fatigue of finding the country.</p>
    <p>Cultural[privacy]- The rates are related only to countries and not specific cities or neighborhoods, so privacy is ensured.</p>
    <h4>Elements selected:</h4>
    <p>Notes included and title.</p>
    <img src="SolMicro.jpeg" alt="Solomon's Micro sketch" height=200px>
    <h4>Evaluation of wireframe:</h4>
    <p>Modeling- Good labeling and graph efficiently communicates the data.</p>
    <p>Visibility- All elements are clearly labeled, including the return button, chart, and possible reasoning section./p>
    <p>Consistency- Lables are consistent with common graphs and chart conventions.</p>
    <p>Structure- Information about the cause is on the bottom, making the viewer see the graphs first and then the possible reasoning. Same applies to the chart with the specific data.</p>
    <p>Simplicity- Minimal use of words; efficiently conveying the information needed.</p>
    <p>Documentation- The labels serve as documentation.</p>
    <p>Discoverability[signifiers]- All elements are clearly labeled. The labeled buttons especially help with discoverability.</p>
    <p>Usability[ease]- Graph choice is practical for easy readibility.</p>
    <p>Cultural[privacy]- The rates are related only to countries and not specific cities or neighborhoods, so privacy is ensured.</p>
    <h4>Elements selected:</h4>
    <p>Reasoning summary instead of specific years for reasoning, chart with specific data points, and buttons.</p>
    <img src="NicMacro.jpeg" alt="Nicole's Macro sketch" height=200px>
    <h4>Evaluation of wireframe:</h4>
    <p>Modeling- Good labeling and modeling.</p>
    <p>Visibility- Almost all elements needed are seen, with the exception of a return button./p>
    <p>Consistency- Lables are consistent with common graphs.</p>
    <p>Structure- Infirmation about the cause is on the side, making the viewer see the graphs first and then the possible reasoning.</p>
    <p>Simplicity- Minimal use of words; efficiently conveying the information needed.</p>
    <p>Documentation- The labels would help serve as documentation.</p>
    <p>Discoverability[signifiers]- Forgot to add a return button so the user can easily go back to the macro.</p>
    <p>Usability[ease]- Graph choices are impratical for easy readibility.</p>
    <p>Cultural[privacy]- The rates are related only to countries and not specific cities or neighborhoods, so privacy is ensured.</p>
    <h4>Elements selected:</h4>
    <p>Hyperlinking the websites we will get our information from for the probable causes.</p>
    <img src="NicMicro.jpeg" alt="Nicole's micro sketch" height=200px>
    <h4>Evaluation of wireframe:</h4>
    <p>Modeling- Good labeling and modeling.</p>
    <p>Visibility- Almost all elements needed are seen, with the exception of a return button./p>
    <p>Consistency- Lables are consistent with common graphs.</p>
    <p>Structure- Infirmation about the cause is on the side, making teh viewer see teh graphs first and then the possible reasoning.</p>
    <p>Simplicity- Minimal use of words; efficiently conveying the information needed.</p>
    <p>Documentation- The labels would help serve as documentation.</p>
    <p>Discoverability[signifiers]- Forgot to add a return button so the user can easily go back to the macro.</p>
    <p>Usability[ease]- Graph choices are impratical for easy readibility.</p>
    <p>Cultural[privacy]- The rates are related only to countries and not specific cities or neighborhoods, so privacy is ensured.</p>
    <h4>Elements selected:</h4>
    <p>Hyperlinking the websites we will get our information from for the probable causes.</p>
    <img src="newProjectPipeline.jpeg" alt="Project Pipeline Graphic" height=200px>
    <h5>Descriptions of our pipeline:</h5>
    <p>We first brainstormed on what topic we wanted to cover and then looked to find csv files we could use.</p>
    <p>We made our sketches of what we wanted the website to look like and discussed the pros and cons to each design.</p>
    <p>Evaluated the designs with the Design principles and see if we missed anything during our discussion of the pros and cons.</p>
    <p>Created the about.html page and reflected on how we should approach creating our website and our division of labor.</p>
    <p>Our next step will be to begin implementing our index HTML file and also make sure that we understand how to template our data (ejs)</p>
    <p>Then we will use EJS to dynamically insert our data onto our webpage.</p>
    <p>We plan on using the plotly software Specifically a dynamic countries map that uses shades of colors to represent density of a variable.</p>
    <h5>Division of labor:</h5>
    <p>Solomon: generateJSON.js, Build Pipeline, Deploy, Navbar, Macro View, Map, micro page graphs, index.ejs, countries.ejs</p>
    <p>Nicole: siteGenerator.js, drop down menus, micro page chart and writing, global folder, home (index) button.</p>
    <p>Solomon+Nicole: CSS/bootstrap done together</p>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <%- include ('global/footer');  %>

</body>
